{% extends "top/base.html" %}
{% block title %}プロジェクトを登録ページ{% endblock %}

{% block content %}
<h3>プロジェクトを追加</h3>
    <p class="error">{{error}}</p>
    <form method="post" class="record">

    <label for="project">プロジェクト名</label>
        <input name="project" id="project" type="text" placeholder="プロジェクト名">
        <select name="projectClientName" id="projectClientName">
            <option disabled selected value="">クライアントを選択</option>
            {% for client in clients %}
                <option value="{{client['client_name']}}">{{client['client_name']}}</option>
            {% endfor %}
        </select>
        <select name="projectAgencyName" id="projectAgencyName">
            <option disabled selected value="">代理店を選択</option>
            {% for agency in agencys %}
                <option value="{{agency['agency_name']}}">{{agency['agency_name']}}</option>
            {% endfor %}
        </select>
        <select name="projectAccountName" id="projectAccountName">
            <option disabled selected value="">担当者を選択</option>
            {% for account in accounts %}
                <option value="{{account['account_name']}}">{{account['account_name']}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="登録する">
            
    </form>

{% endblock %}